@model SubscriptionJournals.Models.JournalsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Forms.cshtml";
    var pdf = "~/Journals/" + (Model.path ?? "");
}

<h1>PDF File</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.creationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.creationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.path)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.name)
        </dd>
        <a data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-user btn-block">Read PDF</a>
    </dl>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                            @*<embed src="@Model.path" class="w-100 h-100" />*@
                            <iframe src="@Model.path" class="w-100 h-100" ></iframe>
                   
                    
                </div>                   
                </div>
                <div class="modal-footer">
                </div>
            </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.journal_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
