@model IEnumerable<SubscriptionJournals.Models.IndexFollowersViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Tables.cshtml";
}
<title>Home</title>
<p>
    <a asp-action="Create">Create New Post</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.creationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.creationDate)
                    </td>
                    <td>
                        <a asp-action="DetailsForUsers" asp-controller="UsersViewModel" asp-route-id="@item.user_Id" class="btn btn-outline-primary">@Html.DisplayFor(modelItem => item.user)</a> &nbsp;
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.journal_Id" class="btn btn-outline-info">Ver PDF</a> &nbsp;
                        <a asp-action="Delete" asp-route-id="@item.journal_Id" class="btn btn-outline-danger">Delete</a> &nbsp;


                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

